.nav__bottom {
  display: flex;
  flex-direction: row;
  padding-left: 170px !important;
  padding-top: 30px;
  height: 100px;
  border-top: 1px solid black;
  z-index: 1;

  align-items: center;
  padding-bottom: 20px;

  transition-timing-function: ease-in;
  transition: all 0.55s;
}

.nav__black {
  background-color: rgba(44, 43, 43, 0.842);
}

.nav__bottom__title {
  font-family: "Bitter", serif;
  font-size: 32px;
  flex: 4.2;
  cursor: pointer;
}

.nav__bottom__list {
  display: flex;
  list-style: none;
  text-transform: capitalize;
  flex: 6;
  cursor: pointer;
}

.nav__bottom__list > li {
  font-family: "Comfortaa", cursive;
  font-weight: 1000;
  font-size: 19px;
  margin-right: 20px;
  cursor: pointer;
}

.nav__list:hover {
  color: #ff7171;
  text-decoration: underline;
}
.nav__icon {
  flex: 3;
  cursor: pointer;
}
